.petHeader{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: #ffffff86;
    .navbar{
        width: 100%;
        position: relative;
        justify-content: space-between;
    }
    .avatar{
        position: relative;
        margin: 0;
        .profile{
            width: 50px;
            height: 50px;
            background: #ff0057;
            border-radius: 50%;
        }
    }
}