@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.petHeader {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5254901961);
}
.petHeader .navbar {
  width: 100%;
  position: relative;
  justify-content: space-between;
}
.petHeader .avatar {
  position: relative;
  margin: 0;
}
.petHeader .avatar .profile {
  width: 50px;
  height: 50px;
  background: #ff0057;
  border-radius: 50%;
}

.menuMobile {
  width: 100%;
  top: 0;
  z-index: 1000;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5254901961);
}

.swiper {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  z-index: 0;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullets-active {
  background-color: #ff0057 !important;
}

@media only screen and (max-width: 640px) {
  .swiper {
    width: 100%;
    height: 350px !important;
    display: flex;
    position: relative;
    z-index: 0;
    font-size: smaller !important;
  }
}
.rescue {
  background: #F9AD59;
}

.tile {
  position: relative;
}

.category-cards {
  position: relative;
}

* {
  font-family: "Gugi", cursive;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.boxSearch {
  display: flex;
  position: relative;
  justify-content: space-between;
}

section {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.wrapper {
  justify-content: center;
  padding-top: 90px;
  border-bottom: 2px solid #3C2C32;
}
.wrapper .heroImage {
  position: relative;
  width: auto;
  margin: 0 auto;
}
.wrapper .tipsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .tipsContainer .tips {
  max-width: 800px;
  width: auto;
  padding: 30px;
}

@media only screen and (max-width: 640px) {
  .wrapper .heroImage {
    position: relative;
    max-width: 300px;
    width: auto;
    transition: ease-in 0.5s;
  }
  .wrapper .tipsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .wrapper .tipsContainer .tips {
    position: relative;
    max-width: 300px !important;
    width: auto;
    padding: 10px;
  }
}
@media (min-width: 640px) and (max-width: 825px) {
  .heroImage {
    position: relative;
    max-width: 550px;
    width: auto;
    transition: ease-in 0.5s;
  }
  .tipsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tipsContainer .tips {
    max-width: 550px !important;
    width: auto;
    padding: 30px;
  }
}
.vectorShop {
  position: absolute;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.vectorShop img {
  width: 100%;
}

.watermark {
  position: absolute;
  justify-self: center;
  align-self: center;
  margin: auto;
  top: 40%;
  left: 20%;
  right: 20%;
}/*# sourceMappingURL=index.css.map */