@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import './assets/Header.scss';
@import './assets/Swiper.scss';

*{
    font-family: 'Gugi', cursive;
    
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.boxSearch{
    display: flex;
    position: relative;
    justify-content: space-between;
}
section{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    border-bottom: 2px solid #3C2C32;
}
.wrapper{
    justify-content: center;
    padding-top: 100px;

    .heroImage{
        position: relative;
        max-width: 1000px;
        display: block;
        margin: 0 auto;
    }
    .tipsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        .tips{
            max-width: 600px;
            width: auto;
            padding: 30px;
        }
      }
}