@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import './assets/Header.scss';
@import './assets/Swiper.scss';
@import './assets/Rescue.scss';

*{
    font-family: 'Gugi', cursive;
    
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.boxSearch{
    display: flex;
    position: relative;
    justify-content: space-between;
}
section{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    border-bottom: 2px solid #3C2C32;
}
.wrapper{
    justify-content: center;
    padding-top: 90px;

    .heroImage{
        position: relative;
        width: auto ;
        margin: 0 auto;
       
    }
    .tipsContainer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .tips{
            max-width: 800px;
            width: auto;
            padding: 30px;
        }
      }
}
@media only screen and (max-width: 640px) {
.wrapper{

    .heroImage{
        position: relative;
        max-width: 300px;
        width: auto;
        transition: ease-in 0.5s;
    }
    .tipsContainer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        .tips{
            position: relative;
            max-width: 400px !important;
            width: auto;
            padding: 30px;
        }
      }
}
}
@media (min-width:640px) and (max-width:825px) {
    .heroImage{
        position: relative;
        max-width: 550px;
        width: auto;
        transition: ease-in 0.5s;
    }
    .tipsContainer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .tips{
            max-width: 550px !important;
            width: auto;
            padding: 30px;
        }
      }
}
.vectorShop{
    position: absolute;
    width: 100%;
    max-width: fit-content;
    img{
        width: 100%;
       
    }
}
.watermark{
    position: absolute;
    justify-self: center;
    align-self: center;
    margin: auto;
    top: 40%;
    left: 20%;
    right: 20%;
}